{% block title %}{% endblock %}

{% block stylesheets %}
    <style>
        body {
            font-family: 'Calibri', Calibri;
            font-size: 16px;
            background-color: #f5f5f5;
        }

        .container {
            padding-top: 20px;
        }

        .card {
            border: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            padding: 20px;
        }

        .card-title {
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            box-shadow: none;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            padding: 12px 30px;
            margin-right: 10px;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .btn-back {
            background-color: #33dc3f;
            border: none;
            border-radius: 5px;
            padding: 12px 30px;
        }

        .btn-back:hover {
            background-color: #c82333;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Create a New Category</h2>
                        <hr>
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.category_name, 'Category', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.category_name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="text-center">
                            <div class="btn-group"> <!-- Button group to place buttons in a horizontal line -->
                                <button type="submit" name="category_create" class="btn btn-primary">Create</button>
                                <a href="{{ path('app_product') }}" class="btn btn-back">Back to Product List</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}








